@keyframes bar01 {
  0% {
    width: 50px;
  }

  100% {
    width: 100%;
  }
}

.bar-01 {
  animation: bar01 10s ease-in forwards;
}

@keyframes bar02 {
  0% {
    width: 150px;
  }

  100% {
    width: 100%;
  }
}

.bar-02 {
  animation: bar02 8s linear;
}

@keyframes bar03 {
  0% {
    background-color: blue;
    width: 100%;
  }

  40% {
    width: 75%;
    background-color: yellow;
  }

  70% {
    width: 200px;
    background-color: red;
  }

  100% {
    width: 5px;
    background-color: blue;
  }
}

.bar-03 {
  animation: bar03 12s ease-in forwards;
}

@keyframes bar04 {
  0% {
    background-color: red;
    width: 100%;
  }

  33% {
    background-color: blue;
    width: 50%;
  }

  66% {
    background-color: black;
  }

  100% {
    width: 150px;
    background-color: orange;
  }
}

.bar-04 {
  animation: bar04 5s ease-out;
}

@keyframes bar05 {
  0% {
    background-color: green;
    width: 100%;
  }

  50% {
    width: 500px;
    background-color: red;
  }

  70% {
    width: 75%;
    background-color: green;
  }

  100% {
    width: 500px;
    background-color: orange;
  }
}

.bar-05 {
  animation: bar05 8s linear;
}

@keyframes bar06 {
  0% {
    width: 200px;
  }

  100% {
    width: 100%;
  }
}

.bar-06 {
  animation: bar06 4s ease-in 3 forwards;
}
