@import 'variables';

ul {
  a {
    text-decoration: none;

    &:hover {
      color: red;
    }

    &:active {
      color: purple;
    }

    &:visited {
      color: green;
    }
  }
}

.para {
  padding: 10px 20px;
  color: $brand-main2;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;
  color: $brand-neutral2;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }

  span {
    color: $brand-level2;
  }
}

a {
  .all-visited & {
    text-decoration: line-through;
  }
}

ol a {
  &:hover {
    color: $brand-main;
  }

  &:active {
    color: $brand-level;
  }

  &:visited {
    color: $brand-neutral;
  }
}
